{%extends 'main/base.html'%}
{%block title%}
Create
{%endblock%}
<div>
    {%block content %}
    <div class="w-50 p-3" >    
        <div class="text-center" style="color: aliceblue;">
            
            <form method="post">
                {% csrf_token %} <br>
                {{form.title}} <br>
                {{form.anons}} <br>
                {{form.full_text}} <br>
                {{form.data}}
                <span>{{eror}}</span>
                <button class="btn btn-default" type="submit">Добавить запись</button>
            </form>
        </div>
    </div>
    {%endblock%}
</div>