{%extends 'main/base.html'%}
{%block title %}
Краткие Статьи
{%endblock%}


{%block content %}

<div class="container" >
    <li class="active"><a href="{% url 'create'%}"><button class="button" class="btn btn-default btn-xs"><i
        class="fa-solid fa-plus">Добавить запись</button></a></li>     
        {% if news%}
            {%for el in news%}
            <div class="text-center" style="color: #fff;">
                <h4>{{el.title}}</h4><br>
                <p>{{el.anons}}</p><br>


                    <a href="{% url 'news-detail' el.id%}" type='button' class="btn btn-success">Прочитать статью</a>
            </div>


            {%endfor%}

        {% else %}
        <p>Отсуствтуют записи.</p>
        {%endif%}
</div>

{%endblock%}