body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #1a081f;
    width: 15%;
    padding: 2.5;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;

}

aside h3 {
    margin-top: 30px;
    font-size: 15px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 12px;
    transition: transform .6s ease;
}

aside ul li:hover,
aside ul a:hover {
    color: aqua;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 40px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}



main .uni h1 {
    font-size: 30px;
    color: #42b9c2;
    text-align: center;
    width: 85%;;
}

main .uni p {
    float: left;
    font-size: 18px;
    color: #56bfc7;
    text-align: center;
    width: 75%;
}

