<h1>Немного о криптовалюте: Известные биржи и платформы.</h1> 
<h2>Начнём с Uniswap.</h2>

Что такое Uniswap (UNI)?

Uniswap — децентрализованный протокол для торговли криптовалютами на основе смарт-контрактов. Работает в сети Ethereum. Входит в пятерку DeFi-приложений по объему заблокированных средств. Uniswap стал первым проектом, в котором реализовали автоматизированного маркетмейкера и пулы ликвидности.

Как работает Uniswap?

Протокол Uniswap включает серию смарт-контрактов, которые позволяют любому пользователю напрямую торговать друг с другом на блокчейне Ethereum. Технически — этодецентрализованная биржа (DEX).

Uniswap — общедоступный инструмент, распределяющий вознаграждение среди поставщиков ликвидности. Провайдеры поддерживают биржу, «запирая» токены, что позволяет другим пользователям торговать в децентрализованной системе.

Платформа не требует регистрации и прохождения процедур KYC и AML. Для ее использования необходим только браузерный кошелек с поддержкой сети Ethereum, например MetaMask.

Что такое пулы ликвидности?

Поскольку Uniswap — децентрализованный проект, у него нет администрации, отбирающей новые криптовалюты для листинга, как на централизованных биржах. Добавить новый актив стандарта ERC-20 на Uniswap может любой.

Для этого необходимо открыть пул ликвидности — отдельный «рынок» для определенной торговой пары. Чтобы открыть пул для нового токена, нужно некоторое количество новых токенов, а также базовая валюта стандарта ERC-20 на ту же сумму.

Uniswap не связывает продавцов и покупателей, чтобы те устанавливали цену цифровых активов, а использует уравнение: x * y = k. В уравнении x и y представляют количество токенов, доступных в пуле ликвидности; k — постоянная величина.

Исходя из баланса между токенами в паре, а также между спросом и предложением, уравнение рассчитывает цену того или иного токена. Данный механизм ценообразования и котировок и называется автоматизированный маркетмейкер (AMM).

У каждого токена есть свой собственный смарт-контракт и как минимум один пул ликвидности. Любой пользователь Uniswap может торговать этой монетой или вносить средства в пул ликвидности, получая награду от комиссий.

Всякий раз, когда в пул ликвидности Uniswap добавляются новые токены, пользователь получает «пул-токен» (LP) стандарта ERC-20. Пул-токены можно обменивать, перемещать и использовать в других децентрализованных приложениях.

Когда средства становятся востребованы, пул-токены сжигаются. Каждый такой токен представляет долю пользователя в суммарных активах пула. Он также позволяет держателю получать пропорциональную часть от комиссий за обмен, которые собирает пул.

Как торгуют токенами на Uniswap?

Протокол Uniswap доступен через интерфейс uniswap.org. Подключиться к нему можно с помощью браузерного кошелька с поддержкой Ethereum.

Пользователь может обменивать токены или добавлять активы в пул ликвидности Uniswap. Необходимо выбрать токен, который пользователь хочет получить, и актив, которым он хочет заплатить. Затем пользователь должен одобрить транзакцию с помощью своего кошелька и подтвердить операцию, уплатив комиссию сети Ethereum.

Доступ к Uniswap можно получить и через DeFi-агрегаторы — специальные приложения, которые собирают данные о пулах в реальном времени, позволяют подключиться сразу к нескольким децентрализованным протоколам через единую платформу, а также предоставляют дополнительные функции. Среди популярных DeFi-агрегаторов — 1inch, InstaDApp, Zapper.

Кроме того, для упрощения торговли и увеличения доходности работают специальные менеджеры ликвидности.


Запуск третьей версии Uniswap стал важной вехой в развитии децентрализованных финансов (DeFi). Популяризовав в свое время механизм автоматического маркетмейкера (AMM), ведущая Ethereum-биржа представила рынку концепцию концентрированной ликвидности.

Почти сразу после апгрейда платформы появились совершенно новые для индустрии сервисы, призванные повысить доходность провайдеров ликвидности на Uniswap v3 и снизить риски непостоянных убытков.

Мы ознакомились с такими сервисами, изучив их функциональность и показатели эффективности.

    Благодаря кардинально новым функциям Uniswap v3 на рынке появился новый тип сервисов, оптимизирующих доходность позиций концентрированной ликвидности.
    Несмотря на, казалось бы, интересный замысел и актуальность, показатели доходности сервисов-оптимизаторов невысоки.
    Менеджеры концентрированной ликвидности подвержены различным рискам и плохо работают в периоды высокой волатильности рынка.

niswap — лидирующая по объемам торгов и числу пользователей Ethereum-биржа. Первая версия децентрализованной платформы начала работу 2 ноября 2018 года. С того момента стало появляться все больше торговых площадок, использующих механизм автоматического маркетмейкера (AMM) вместо традиционной книги ордеров.

Благодаря революционной для DeFi концепции концентрированной ликвидности у LP появилась возможность выбирать определенные ценовые диапазоны для размещения средств в пуле. Например, участник рынка может разместить 30% активов в пуле USDC/ETH для диапазона $2000-$3000, выделив оставшиеся 70% для более узкого диапазона — $1500-$1700. Вариантов есть огромное множество.

В первой и второй версиях Uniswap ликвидность распределяется равномерно вдоль ценовой кривой. Это значит, что пользователям не приходится выбирать ценовые диапазоны, а лишь загружать активы в пулы.

Недостаток столь незамысловатого подхода в том, что фактически задействуется лишь часть ликвидности. Цена даже самых волатильных активов не может колебаться от нуля до бесконечности — она в основном пребывает в определенном диапазоне, в пределах ограниченного участка ценовой кривой.

Это значит, что ликвидность, рассеянная в неактуальных для текущих рыночных условий участках, попросту не задействована. При таком подходе капитал используется далеко не самым эффективным образом.

Провайдеры ликвидности Uniswap v3 могут значительно эффективнее использовать капитал, выбирая, по сути, индивидуальные ценовые кривые. Для иллюстрации работы этого механизма предположим, что Алиса и Боб решили предоставить ликвидность в пул USDC/ETH. У каждого из них по $10 000, а текущая цена Ethereum — $2700.

Алиса внесла в пулы ликвидности второй версии платформы 5000 USDC и 1,85 ETH, разделив таким образом свой капитал поровну между двумя активами.

Боб решил не направлять все средства в один пул. Выбрав ценовой диапазон между $2200 и $3200, он депонировал всего 600 USDC и 0,22 ETH. Оставшиеся $8800 Боб задействовал для других инвестиционных возможностей.

Несмотря на существенную разницу в объеме вложений, Алиса и Боб будут получать одинаковый комиссионный доход пока цена ETH находится в диапазоне $2200-$3200. Выбрав новую версию Uniswap и оптимальный диапазон, Боб заставил свой капитал работать в разы эффективнее.

Более того, он значительно снизил риски. Если вдруг цена ETH упадет до $0, Боб потеряет 12% от своего капитала, а вот Алиса — все средства.

Для реализации концепции концентрированной ликвидности разработчикам Uniswap пришлось пойти на некоторые компромиссы. Например, провайдеры ликвидности третьей версии получают NFT вместо взаимозаменяемых токенов стандарта ERC-20, представляющих их средства в пуле.

    «Однако позиции можно сделать взаимозаменяемыми посредством использования сторонних контрактов и партнерских протоколов. Кроме того, торговые комиссии больше автоматически не реинвестируются обратно в пул от имени LP», — объясняется в блоге Uniswap.

Выбирая узкие ценовые диапазоны провайдеры подвергают себя рискам непостоянных убытков, свойственным AMM. Учитывая волатильную природу большинства криптоактивов, выбор оптимального диапазона может быть затруднительным. Капиталоэффективность не достигается легко — всегда есть риск, что цена выйдет из установленного пользователем диапазона.

К примеру, пользователь внес ликвидность в пул USDC/ETH, установив диапазон концентрированной ликвидности в пределах $2500-$4000. Если цена упадет ниже $2500, вся предоставленная провайдером ликвидность конвертируется в ETH. Если же вторая по капитализации криптовалюта вырастет выше отметки $4000, пользователь останется с USDC. В обоих случаях LP прекращает получать комиссионный доход, подвергая себя издержкам упущенной выгоды.

Несмотря на перечисленные недостатки, общий оборот новой версии биржи в несколько раз превышает показатель Uniswap v2. Разница заметна и в разрезе отдельных пулов, включая USDC/ETH — $332 млн против $305 млн (по состоянию на 9.08.2021).

Согласно опубликованному в июле исследованию Nansen, большинство пользователей Uniswap v3 (58%) удерживает лишь одну позицию концентрированной ликвидности. Более пяти таких позиций обнаружено менее чем у 10% адресов.

    «В общей сложности мы обнаружили 22 684 уникальных адреса, которые удерживают/удерживали позиции на Uniswap v3. Значительная часть (77%) таких пользователей относится к категории пассивных провайдеров ликвидности. Это значит, что они почти никогда не корректировали параметры своих позиций», — поделились наблюдениями исследователи.

14% пользователей удерживали от одной до пяти позиций и меняли их более двух раз. Лишь 1% провайдеров удерживал более 25 позиций.

Таким образом, лишь небольшой процент пользователей придерживается проактивного подхода к менеджменту ликвидности. В ответ на сложившуюся ситуацию на рынке появляются различные сервисы, призванные обеспечить управление концентрированными позициями на Uniswap v3 при минимальном участии пользователя.
Основные подходы к управлению LP-позициями

Процесс вывода ликвидности после выхода цены из целевого ценового коридора и предоставления средств в другой диапазон называется ребалансировкой. Цель недавно появившихся сервисов для управления ликвидностью Uniswap v3 заключается в автоматизации ребалансировки позиций LP. Вдобавок к этому подобные сервисы могут реинвестировать комиссионный доход провайдеров ликвидности.

Нативные токены таких платформ, как правило, стандарта ERC-20. Это значит, что они могут использоваться в качестве залогового обеспечения на лендинговых сервисах, а также участвовать в программах майнинга ликвидности.

Согласно документации сервиса Alpha Vaults от Charm Finance, есть два подхода к управлению концентрированной ликвидностью:

    Активная ребалансировка, предполагающая обмен токенов для последующего размещения в новом диапазоне и, соответственно, определенную комиссию за каждую такую операцию.
    Пассивная ребалансировка — не предполагает обмена токенов для переноса позиции в другой диапазон. Вместо этого применяются два типа ордера — базовый и ребалансирующий или «односторонний» (single-sided). Ордера первого типа располагаются симметрично вокруг текущей цены. Второй тип ордера занимает более узкий диапазон, который близок к текущей цене и совпадает с базовым. Параметры ордеров меняются каждые 12 часов.

    «Термин “односторонняя ликвидность” не совсем ясен, однако по своей сути он аналогичен лимитному ордеру, расположенному близко к текущей цене. Таким образом, если цена движется в этом направлении, то вторая позиция становится активной и начинает собирать комиссии LP», — пояснил в своей статье DeFi-эксперт под ником Vividot.

На изображенном выше примере проиллюстрирована ликвидность в виде 1 ETH и 2000 USDC в базовом диапазоне $1500-$2500. Когда цена колеблется между $1750 и $2000, срабатывает ребалансирующий ордер, конвертирующий излишек USDC в ETH.

По словам Vividot, при пассивной ребалансировке комиссии не взимаются. С другой стороны, доходность LP-позиции уменьшается при сильных и продолжительных ценовых движений в определенном направлении. В такие периоды стратегия пассивной ребалансировки не срабатывает, более привлекательным становится проактивный подход к управлению позициями.

    «Выбор диапазона ребалансировки даже более важен, чем выбор метода ребалансировки», — подчеркнул эксперт.

Назревает дилемма:

    наилучший с точки зрения капиталоэффективности диапазон — максимально узкий и наиболее соответствующий будущим ценам (которые неизвестны); 
    выбор узкого диапазона чреват падением доходности в периоды повышенной волатильности рынка.

Если пользователь стремится сократить вероятность непостоянных убытков (Impermanent Loss, IL), ему следует выбрать максимально широкий участок ценовой кривой. 

У каждого менеджера ликвидности Uniswap v3 свой подход к выбору диапазона и управлению позицией. В этих сервисах предусмотрено определенное вознаграждение за результат (performance fee), источником которого являются комиссии Uniswap v3. Получаемое вознаграждение используется для покрытия расходов газа при ребалансировках, выкупа токенов управления и прочих целей. 

Чтобы показать важность учета таких комиссий при выборе стратегий управлении ликвидностью, Vividot привел следующий пример:

    «Предположим, Менеджер 1 использует стратегию широких диапазонов (низкая комиссия LP, небольшая вероятность IL). Менеджер 2 использует узкие диапазоны (высокая комиссия LP, высокая вероятность IL). В этом случае вознаграждение за результат одинаково (10%), равно как и сам результат в виде комиссий LP и величины IL. Однако Менеджер 2 заплатит больше комиссий за ребалансировку, что нежелательно с позиции пользователя».

По словам эксперта, период ребалансировки также очень важен, поскольку от него зависят компаундинг комиссий LP и реализация убытков вследствие IL.
