Немного о криптовалюте. 
Начнём с Uniswap.

Что такое Uniswap (UNI)?

Uniswap — децентрализованный протокол для торговли криптовалютами на основе смарт-контрактов. Работает в сети Ethereum. Входит в пятерку DeFi-приложений по объему заблокированных средств. Uniswap стал первым проектом, в котором реализовали автоматизированного маркетмейкера и пулы ликвидности.

Как работает Uniswap?

Протокол Uniswap включает серию смарт-контрактов, которые позволяют любому пользователю напрямую торговать друг с другом на блокчейне Ethereum. Технически — этодецентрализованная биржа (DEX).

Uniswap — общедоступный инструмент, распределяющий вознаграждение среди поставщиков ликвидности. Провайдеры поддерживают биржу, «запирая» токены, что позволяет другим пользователям торговать в децентрализованной системе.

Платформа не требует регистрации и прохождения процедур KYC и AML. Для ее использования необходим только браузерный кошелек с поддержкой сети Ethereum, например MetaMask.

Что такое пулы ликвидности?

Поскольку Uniswap — децентрализованный проект, у него нет администрации, отбирающей новые криптовалюты для листинга, как на централизованных биржах. Добавить новый актив стандарта ERC-20 на Uniswap может любой.

Для этого необходимо открыть пул ликвидности — отдельный «рынок» для определенной торговой пары. Чтобы открыть пул для нового токена, нужно некоторое количество новых токенов, а также базовая валюта стандарта ERC-20 на ту же сумму.

Uniswap не связывает продавцов и покупателей, чтобы те устанавливали цену цифровых активов, а использует уравнение: x * y = k. В уравнении x и y представляют количество токенов, доступных в пуле ликвидности; k — постоянная величина.

Исходя из баланса между токенами в паре, а также между спросом и предложением, уравнение рассчитывает цену того или иного токена. Данный механизм ценообразования и котировок и называется автоматизированный маркетмейкер (AMM).

У каждого токена есть свой собственный смарт-контракт и как минимум один пул ликвидности. Любой пользователь Uniswap может торговать этой монетой или вносить средства в пул ликвидности, получая награду от комиссий.

Всякий раз, когда в пул ликвидности Uniswap добавляются новые токены, пользователь получает «пул-токен» (LP) стандарта ERC-20. Пул-токены можно обменивать, перемещать и использовать в других децентрализованных приложениях.

Когда средства становятся востребованы, пул-токены сжигаются. Каждый такой токен представляет долю пользователя в суммарных активах пула. Он также позволяет держателю получать пропорциональную часть от комиссий за обмен, которые собирает пул.

Как торгуют токенами на Uniswap?

Протокол Uniswap доступен через интерфейс uniswap.org. Подключиться к нему можно с помощью браузерного кошелька с поддержкой Ethereum.

Пользователь может обменивать токены или добавлять активы в пул ликвидности Uniswap. Необходимо выбрать токен, который пользователь хочет получить, и актив, которым он хочет заплатить. Затем пользователь должен одобрить транзакцию с помощью своего кошелька и подтвердить операцию, уплатив комиссию сети Ethereum.

Доступ к Uniswap можно получить и через DeFi-агрегаторы — специальные приложения, которые собирают данные о пулах в реальном времени, позволяют подключиться сразу к нескольким децентрализованным протоколам через единую платформу, а также предоставляют дополнительные функции. Среди популярных DeFi-агрегаторов — 1inch, InstaDApp, Zapper.

Кроме того, для упрощения торговли и увеличения доходности работают специальные менеджеры ликвидности.


Запуск третьей версии Uniswap стал важной вехой в развитии децентрализованных финансов (DeFi). Популяризовав в свое время механизм автоматического маркетмейкера (AMM), ведущая Ethereum-биржа представила рынку концепцию концентрированной ликвидности.

Почти сразу после апгрейда платформы появились совершенно новые для индустрии сервисы, призванные повысить доходность провайдеров ликвидности на Uniswap v3 и снизить риски непостоянных убытков.

Мы ознакомились с такими сервисами, изучив их функциональность и показатели эффективности.

    Благодаря кардинально новым функциям Uniswap v3 на рынке появился новый тип сервисов, оптимизирующих доходность позиций концентрированной ликвидности.
    Несмотря на, казалось бы, интересный замысел и актуальность, показатели доходности сервисов-оптимизаторов невысоки.
    Менеджеры концентрированной ликвидности подвержены различным рискам и плохо работают в периоды высокой волатильности рынка.

