Tutorial Sushiswap. Переводил через gool translate.

Эволюция облигаций DeFi — это захватывающая история инноваций и адаптации в быстро развивающемся мире DeFi. С самого начала до сложных структур, которые мы видим сегодня, облигации DeFi постоянно адаптировались, предлагая более эффективные и устойчивые финансовые модели.

Первые дни: протокол облигаций и рождение облигаций DeFi

Протокол Bond, первоначально известный как Olympus DAO, ознаменовал начало пути развития облигаций DeFi. Он представил революционную концепцию в экосистеме DeFi, выпустив облигации в обмен на криптовалюты или токены поставщиков ликвидности (LP). Этот инновационный подход был направлен на стабилизацию собственного токена протокола и предложение привлекательной прибыли покупателям облигаций. Пользователи могли покупать облигации протокола по сниженной ставке, которые впоследствии можно было обменять на большее количество токенов протокола. Этот механизм обеспечил немедленную ликвидность протокола и способствовал долгосрочному хранению, тем самым снижая давление продаж на собственный токен.

Промежуточные события: облигации DEX

Следуя примеру Bond Protocol, концепция облигаций DeFi начала интегрироваться со структурами децентрализованных бирж (DEX), что привело к появлению DEX Bonds. Эта интеграция позволила пользователям одновременно участвовать в предоставлении ликвидности и инвестициях в облигации. Уникальным преимуществом DEX Bonds была их ориентация на эффективность использования капитала и более интегрированный пользовательский опыт. Пользователи могут использовать свои активы разными способами в рамках одной экосистемы, максимизируя полезность и эффективность своего капитала.


Настоящее: суши-облигации и модель POL

Суши-облигации представляют собой нынешнюю вершину облигаций DeFi. Они выделяются своей моделью «От облигаций к ликвидности, принадлежащей протоколу (POL)». Этот инновационный подход отличается от традиционного метода временной аренды ликвидности посредством эмиссии токенов. Вместо этого он позволяет накапливать активы, будь то токены LP или токены «голубых фишек», которые приносят прямую пользу проекту. Посредством продажи облигаций проекты получают токены LP или «голубые фишки», которые они могут оставить для сохранения ликвидности или продать для диверсификации казначейства. Сохранение токенов LP продолжает приносить торговые комиссии, превращая продажи облигаций в устойчивый источник ликвидности и доходов. Sushi Bonds расширила эту модель на несколько сетей, уделив особое внимание качеству проектов и безопасности смарт-контрактов.


Идеальный пример DeFi Lego: объединение опыта DeFi для Sushi Bonds

Путь от Bond Protocol к Sushi Bonds отражает постоянную потребность сектора DeFi в устойчивой ликвидности, эффективности капитала и безопасности. Интеграция облигаций DeFi с другими структурами DeFi, такими как Sushi DEX, автоматизированное управление ликвидностью протокола управления (ALM) и другими, иллюстрирует фантастический вариант использования аналогии DeFi с «Lego». Каждый компонент, будь то DEX, структура облигаций или ALM, взаимодействует с другими, создавая более надежную, эффективную и удобную для пользователя финансовую экосистему. Эта модель DeFi Lego символизирует инновационный дух сотрудничества DeFi, прокладывая путь к будущему стабильного и устойчивого роста в рамках децентрализованной финансовой среды.

                      
                       Что такое технический ананализ?
Технический анализ (ТА) — это метод прогнозирования будущего поведения рынка путем изучения исторического поведения цен и данных об объемах. Он широко используется как на традиционных финансовых рынках, так и на рынке криптовалют, и его часто называют графиком.

В отличие от фундаментального анализа (FA), который рассматривает различные факторы, влияющие на цену актива, TA фокусируется исключительно на исторических изменениях цены актива и данных об объеме. Это делает его полезным инструментом для выявления тенденций и торговых возможностей.

Происхождение современной ТА можно проследить до работы Чарльза Доу, финансового журналиста и основателя The Wall Street Journal. Доу был одним из первых, кто заметил, что активы и рынки часто движутся в соответствии с тенденциями, которые можно проанализировать и изучить, и его работа позже привела к разработке теории Доу.

ТА прошла долгий путь с момента своего появления, когда использовались рисованные листы и ручные расчеты. Благодаря развитию технологий и современным вычислениям он стал широко используемым инструментом для многих инвесторов и трейдеров.

Как это работает?

Технический анализ использует прошлые данные о ценах и объемах для прогнозирования будущего поведения рынка и основан на идее о том, что колебания цен на активы не случайны, а следуют определяемым тенденциям. Цена актива отражает баланс между спросом и предложением, на который влияют настроения рынка, эмоции и поведение трейдеров.

ТА считается наиболее эффективной на крупных ликвидных рынках, которые менее подвержены манипуляциям и внешнему влиянию. Трейдеры используют различные инструменты построения графиков, известные как индикаторы, чтобы помочь определить тенденции и благоприятные возможности. Используя несколько индикаторов, трейдеры могут снизить риски, связанные с использованием любого одного индикатора.

Основное исходное предположение ТА заключается в том, что рыночные силы спроса и предложения отражают общее настроение рынка. Вот почему цена актива рассматривается как отражение противоположных сил продаж и покупок, движимых страхом и жадностью среди трейдеров и инвесторов.

Важно отметить, что технический анализ считается более надежным в нормальных рыночных условиях, но он может оказаться бесполезным при наличии аномальных условий или ценовых манипуляций. Несмотря на это, ТА остается важным инструментом для многих инвесторов и трейдеров в процессе анализа рынка и принятия решений.


