{%extends 'main/base.html'%}
{%block title %}
Home  
{%endblock%}

{%block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Сайт создан как портфолио. Написан на Django.</p>
        <p> На нём содержиться:Краткая выжимка информация из интересных статей.</p>
        <p>Посмотреть репозиторий github можно пройдя по кнопке</p> 
        <a href="git" class="btn btn-warning">Перейти к ссылкам на git</a>
        <a href="news" class="btn btn-warning ">Перейти с статьям</a>
    </div>

{%endblock%}